.container-home {
    width: 100%;
    height: 100vh;
    position: relative;
}

.middle-home {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 192px;
    margin-top: 39px;
}

.middle-home h2 {
    font-size: 5vw;
    font-weight: 300;
}

.creative-home {
    width: 100%;
    display: flex;
    align-items: start;
    height: 23vh;
    line-height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    max-width: 116.25rem;
    padding: 0px 1.875rem;
    z-index: -1;
}

.front-criative {
    width: 100%;
    display: flex;
    align-items: start;
    height: 23vh;
    line-height: 200px;
    z-index: -1;
    overflow: hidden;
}

.creative-home h1 {
    font-size: 9.5vw;
}

.webgl-desk {
    position: absolute;
    left: 0;
    outline: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    will-change: transform;
}

.webgl-mobile {
    position: absolute;
    left: 0;
    outline: none;
    width: 100%;
    height: 500px;
    z-index: 1;
    display: none;
    will-change: transform;
}

.bottom-home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 6.25rem;
}

.bottom-home .word {
    overflow: hidden;
}

.container-home .char {
    will-change: transform;
}

.bottom-home p {
    font-size: 32px;
    color: #5D5D5D;
}

.mobile-middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 9vw;
}

.animate-text-mobile,
.dev-mobile {
    height: 250px;
    display: flex;
    align-items: center;


}

.text-animation-mobile {
    height: 11vh;
    line-height: 80px;
    overflow: hidden;
}

.dev-mobile {
    justify-content: end;

}

/* Loader */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    z-index: 2;
    
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.block {
  width: 100%;
  height: 100%;
  background: #0F0F0F;
}

.intro-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

#word-1 {
  position: relative;
  width: 170px;
  display: flex;
  justify-content: end;
  
}

.word-loader h1 {
  font-size: 2.5rem;
  color: white;
  will-change: transform;
  font-weight: 400;
}
.word-loader{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.block{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.divider {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center top;
  width: 1px;
  height: 100%;
  background-color: #fff;
}

#word-1 h1{
    transform: translateY(-120%);
}
#word-2 h1{
    transform: translateY(120%);
}

.divider {
  transform: scaleY(0%);
  will-change: transform;
}

/* Responsivo */

@media(max-width: 1400px) {}

@media(max-width: 1366px) {}

@media(max-width: 1280px) {}

@media(max-width: 1200px) {}

@media(max-width: 991px) {}

@media(max-width: 800px) {
    .container-home {
        height: 70vh;
    }

    .creative-home {
        top: 60%;

    }

    .creative-home h1 {
        font-size: 9vw;

    }

    .bottom-home p {
        font-size: 20px;
    }

}

@media(max-width: 600px) {}

@media(max-width: 480px) {
    .creative-home {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .middle-home {
        height: auto;
    }

    .bottom-home {
        margin-top: 10%;
    }

    .bottom-home p {
        font-size: 18px;
    }

    .webgl-desk {
        display: none;
    }

    .webgl-mobile {
        display: flex;
    }
}

@media(max-width: 430px) {
    .text-animation-mobile {
        height: 10vh;
    }
}

@media(max-width: 390px) {
    .bottom-home p {
        font-size: 14px;
    }

    .text-animation-mobile {
        height: 9vh;
    }
}