.container-home {
  width: 100%;
  height: 100vh;
  position: relative;
}

.container-home .grid-global {
  display: flex;
  justify-content: start;
  align-items: end;
}

.middle-home{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 1.875rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.middle-home h1{
   font-size: 4vw;
   font-weight: 400;
}


.webgl {
  position: absolute;
  left: 0;
  outline: none;
  width: 100%;
  height: 100%;
  will-change: transform;
  z-index: 1;
}

.text-home {
  margin-bottom: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

}

.text-home h2,
.text-home p {
  font-style: normal;
  font-weight: 300;

}
.text-home h2{
   font-size: 1.25rem;
}
.text-home p{
  font-size: 1rem;
}


/* Loader */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  z-index: 2;

}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.block {
  width: 100%;
  height: 100%;
  background: #0F0F0F;
}

.intro-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

#word-1 {
  position: relative;
  width: 170px;
  display: flex;
  justify-content: end;

}

.word-loader h1 {
  font-size: 2.5rem;
  color: white;
  will-change: transform;
  font-weight: 400;
}

.word-loader {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.block {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.divider {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center top;
  width: 1px;
  height: 100%;
  background-color: #fff;
}

#word-1 h1 {
  transform: translateY(-120%);
}

#word-2 h1 {
  transform: translateY(120%);
}

.divider {
  transform: scaleY(0%);
  will-change: transform;
}

/* Responsivo */

@media(max-width: 1400px) {}

@media(max-width: 1366px) {}

@media(max-width: 1280px) {
  .text-home{
    margin-bottom: 20px;
  }
  .text-home h2{
   font-size: 18px;
}
.text-home p{
  font-size: 16px;
}
}

@media(max-width: 1200px) {}

@media(max-width: 991px) {}

@media(max-width: 800px) {}

@media(max-width: 600px) {}

@media(max-width: 480px) {
  .middle-home {
    top: 30%;
    font-size: 5vw;
  }
}