.container-home {
    width: 100%;
    height: 100vh;
    position: relative;
}

.middle-home {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 192px;
    margin-top: 39px;
}

.middle-home h2 {
    font-size: 5vw;
    font-weight: 300;
}

.creative-home {
    width: 100%;
    display: flex;
    align-items: start;
    height: 23vh;
    line-height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    max-width: 116.25rem;
    padding: 0px 1.875rem;
    z-index: -1;
}

.front-criative {
    width: 100%;
    display: flex;
    align-items: start;
    height: 23vh;
    line-height: 200px;
    z-index: -1;
    overflow: hidden;
}

.creative-home h1 {
    font-size: 9.5vw;
}

.webgl {
    position: absolute;
    left: 0;
    outline: none;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bottom-home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 6.25rem;
}

.bottom-home p {
    font-size: 32px;
    color: #5D5D5D;
}

/* Responsivo */

@media(max-width: 1400px) {}

@media(max-width: 1366px) {}

@media(max-width: 1280px) {}

@media(max-width: 1200px) {}

@media(max-width: 991px) {}

@media(max-width: 800px) {
    .container-home {
        height: 70vh;
    }

    .creative-home {
        top: 60%;

    }

    .creative-home h1 {
        font-size: 9vw;

    }

    .bottom-home p {
        font-size: 20px;
    }

}

@media(max-width: 600px) {}

@media(max-width: 480px) {
    .creative-home{
        flex-direction: column;
        align-items: center;
        height: auto;
        border: 1px red solid;
    }
}

@media(max-width: 390px) {}