.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3vh;
    margin-top: 1.875rem;
}

.list-menu{
    display: flex;
    list-style: none;
    gap: 30px;
    overflow: hidden;
    height: 3vh;
    cursor: pointer;
}

.home-creative{
    cursor: pointer;
}