.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3vh;
    margin-top: 1.875rem;
    padding: 0px 0.9375rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

}

.navbar .char {
    will-change: transform;
}

.menu-overlay .navbar a {
    color: white;
}

.list-menu {
    display: flex;
    list-style: none;
    gap: 30px;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    height: 3vh;
    cursor: pointer;
}

.list-menu a {
    color: black;
}

.home-creative {
    cursor: pointer;
    height: 3vh;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);

}

.home-creative p {
    color: black;
}

/* Menu-mobile */
.menu-overlay {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 6;
    display: flex;
    flex-direction: column;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.navbar-overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3vh;
    margin-top: 1.875rem;
    padding: 0px 0.3rem;
}

.links-mobile {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.links-mobile ul li {
    list-style: none;
    font-size: 42px;
    padding-top: 20px;
    height: 80px;
    max-width: max-content;
    will-change: transform;
    
}

.links-mobile ul li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background: white; 
    transition: width 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.links-mobile ul li:hover::after {
    width: 100%;
}
.container-li{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}


.links-mobile a, .navbar-overlay a {
    color: white;
}

.social-mobile-menu {
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
}
.social-mobile-menu a{
    color: white;
}
.cursor{
    cursor: pointer;
}


/* Responsivo */

@media(max-width: 1400px) {}

@media(min-width: 600px) {
    .links-mobile {
        top: 50%;
    }

    .links-mobile ul li {
        font-size: 7vw;
        height: auto;
    }
}

@media(min-width: 1366px) {
}

@media(max-width: 1280px) {}

@media(max-width: 1200px) {}

@media(max-width: 991px) {}

@media(max-width: 800px) {}



@media(max-width: 480px) {}