.footer-home-container {
    background-color: var(--color-black-background);
    width: 100%;
    padding-top: 200px;
    color: white;
}

.head-text-bottom{
    margin-left: 111px;
}

.head-text-bottom h1, .head-text-bottom span{
    font-size: 40px;
    opacity: 60%;
    font-weight: 500;
}
.head-text-bottom span{
    opacity: 100% !important;
}

.contacts-bottom{
    margin-top: 120px;
}
.contacts-bottom h2{
    font-size: 24px;
    font-weight: 500;
    opacity: 0.6;
}
.bottom-email{
    display: flex;
    gap: 10px;
    align-items: center;
}
.bottom-email img{
    width: 15px;
    height: 15px;
}
.email .number{
    margin-left: 25px;
}
.contact-socials {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    align-items: start;
}
.contact-socials ul{
    list-style: none;
}
.contact-socials :nth-child(3){
    margin-right: 100px;
}

.social-bottom ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.social-bottom li{
    display: flex;
    gap: 8px;
    align-items: center;
}

.social-bottom li img{
    width: 20px;
    height: 20px;
}
.available{
    margin-top: 70px;
}

.available p{
    font-size: 16px;
    font-weight: 400;
}
.work-available{
    display: flex;
    align-items: center;
}
.work-available img{
   width: 18px;
   height: 18px;
}
.work-available p{
    color: #808080;
}
.lets-talk {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 50px;
    padding-bottom: 20px;
}

.lets-talk .logo{
    width: 100%;
    height: auto;
}





