.projects-container{
    background-color: var(--color-black-background);
    height: 100%;
    padding-top: 100px;
}

.projects-container .title-projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-container h1{
    color: white;
    font-size: 86px;
}

.sub-text{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sub-text p{
    color: white;
}

.projects-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    grid-template-rows: auto;
    row-gap: 50px;
    column-gap: 50px;
    justify-content: space-around;
    align-content: space-between;
    margin-top: 6.25rem;
}

.project{
    border: 1px gray solid;
    width: 100%;
    height: 31.25rem;
    border-radius: 0.625rem;
}



